@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO: font 적용
@font-face {
  font-family: 
  src:
  font-weight: normal;
  font-style: normal;
}
*/

:root {
    --background-color: #ffffff;
    --primary-blue: #4282ff;
    --sub-yellow: #ffd363;
    --black: #444449;
    --grey-6: #72717a;
    --grey-5: #a9a8b7;
    --grey-4: #cbcad7;
    --grey-3: #deddeb;
    --grey-2: #ecebf3;
    --grey-1: #f4f3f6;
    --white: #ffffff;
    --blue-3: #a9c6ff;
    --blue-2: #d7e5ff;
    --blue-1: #f2f7ff;
    --green-4: #38dc8d;
    --green-3: #7ff0ba;
    --green-2: #ccf5e1;
    --green-1: #e7fbf1;
    --yellow-3: #ffe49d;
    --yellow-2: #fff2cf;
    --yellow-1: #fffbf0;
    --red-4: #ff3c5f;
    --red-3: #ffaebd;
    --red-2: #ffe5ec;
    --red-1: #fff4f5;

    font-size: 10px;
}

body {
    color: #000000;
    background-color: var(--background-color);
}
